/AreYouAdult.java
/DecimalToBinaray.java
/DigitCounnt.java
/FactorsofProgram.java
/fibonaciNumber.java
/FindtheFactorialUsingRecursion.java
/GCDNUMBER.java
/LeapYear.java
/LoopingThroughRangeofNumbers.java
/nEvenNumbers.java
/nPromeNumber.java
/NumberPositiveOrNagative.java
/Palindromechacker.java
/PatternPrint1.java
/PatternPrint2.java
/PatternPrint3.java
/PerfectSqugit commit -m "Added all Java DSA practice files".java
/PrinttheoddnumberusingDowhileloop.java
/Recursion1.java
/RecursionExampleAlpha.java
/SingledigitNumber.java
/smallestNumber.java
/SwappingthevariableWithoutThirdVariable.java
/SwitchcaseIMplementationDay.java
/TempeartueAlert.java
/VowelConsonant.java